.Botao {
  align-self: center;
  background-color: #4EB9FF;
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6235294118);
  color: #FFF;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 5px;
  width: 150px;
    
    &:active {
      background-color: #C7ECFE;
      box-shadow: 2px 2px 4px #0000009F inset;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .Botao {
      grid-column-start: span 2;
      text-align: center;
      width: 200px;
      font-size: 1.75rem;
      font-family: sans-serif;
    }
  }